@(buckets: Map[String, Int])
@if(buckets.isEmpty) {
    <h2> Currently, no buckets exist on this node. </h2>
} else {
    <table class="table">
        <thead>
            <tr>
                <th> Bucket </th>
                <th> Amount of items </th>
            </tr>
        </thead>

        <tbody>
            @for(bucket <- buckets) {
                <tr>
                    <td> @bucket._1 </td>
                    <td> @bucket._2 </td>
                </tr>
            }
        </tbody>
    </table>
}