@(buckets: Map[String, Int])
@if(buckets.isEmpty) {
    <h2> Currently, no buckets exist on this node. </h2>
} else {
    <table class="table">
        <thead>
            <tr>
                <th> Bucket </th>
                <th> Amount of items </th>
            </tr>
        </thead>

        <tbody>
            @for(bucket <- buckets) {
                <tr>
                    <td>
                        <a href="#" onclick="loadBucketContents('@{java.net.URLEncoder.encode(bucket._1, "utf-8")}')">
                            @bucket._1
                        </a>
                    </td>
                    <td> @bucket._2 </td>
                </tr>
                <tr>
                    <td colspan="2" id="@{java.net.URLEncoder.encode(bucket._1, "utf-8")}"></td>
                </tr>
            }
        </tbody>
    </table>
    
    <script type="text/javascript">
        function loadBucketContents(bucketKey) {
            
        }
    </script>
}