@(buckets: List[(String, Int)])
@if(buckets.isEmpty) {
    <h2> Currently, no buckets are present within TuktuDB. </h2>
} else {
    <table class="table">
        <thead>
            <tr>
                <th> Bucket </th>
                <th> Amount of items </th>
            </tr>
        </thead>

        <tbody>
            @for((bucket, index) <- buckets.zipWithIndex) {
                <tr>
                    <td>
                        <a href="#" onclick="loadBucketContents('@{java.net.URLEncoder.encode(bucket._1, "utf-8")}', @index)">
                            @bucket._1
                        </a>
                    </td>
                    <td> @bucket._2 </td>
                </tr>
                <tr>
                    <td colspan="2" id="content_@index"></td>
                </tr>
            }
        </tbody>
    </table>
    
    <script type="text/javascript">
        function loadBucketContents(bucketKey, index) {
        	$.ajax({
                method : "POST",
                url : "@controllers.db.routes.Browser.getBucket",
                data : {
                    key : bucketKey,
                    idx: index
                }
            }).done(function(html) {
                $('#content_' + index).html(html);
            });
        }
    </script>
}