@(index: List[String], folders: List[String], files: Map[String, List[Int]])

@if(files == null) {
    <h2>Failed to fetch files</h2>
} else {
    <div class="row" style="margin-bottom: 20px;">
       <div class="col-xs-12">
           <a href="#" onClick="navigateFolder('')">[root]</a>
           @if(index.size > 0) {
               @for((elem, ind) <- index.zipWithIndex) {
                   / <a href="#" onClick="navigateFolder('@index.take(ind).mkString("/")@elem')">
                       @elem
                   </a>
               }
           }
        </div>
    </div>
    
    @for(folder <- folders) {
        <div class="row">
            <div class="col-xs-12">
                <a href="#" onClick="navigateFolder('@index.mkString("/")@folder')">
                    <span aria-hidden="true" class="glyphicon glyphicon-folder-open"></span>
                    &nbsp;
                    @folder
                </a>
            </div>
        </div>
    }

	<table class="table table-hover">
        @for(file <- files) {
            <tr>
                <td>
                    <span aria-hidden="true" class="glyphicon glyphicon-file"> </span>
                    &nbsp;
	                <a href="@controllers.dfs.routes.Browser.serveFile(file._1)">
	                   <span aria-hidden="true" class="glyphicon glyphicon-download-alt"> </span>
	                </a>
	                &nbsp;
	                @file._1.split("[/\\\\]").takeRight(1) (@file._2.size part(s))
                </td>
            </tr>
        }
    </table>
    
    <script type="text/javascript">
        function navigateFolder(folder) {
            $.ajax({
                method : "POST",
                url : "@controllers.dfs.routes.Browser.getFiles",
                data : {
                    filename : folder,
                    isFolder: true
                }
            }).done(function(html) {
                updateFileList(html);
            });
        }
    </script>
}