@(index: List[String], folders: List[String], files: Map[String, List[Int]])

@if(files == null) {
    <h2>Failed to fetch files</h2>
} else {
    <div class="row" style="margin-bottom: 20px;">
       <div class="col-xs-12">
           <a href="#" onClick="navigateFolder('')">[root]</a>
           @if(index.size > 0) {
               @for((elem, ind) <- index.zipWithIndex) {
                   / <a href="#" onClick="navigateFolder('@index.take(ind).mkString("/")@elem')">
                       @elem
                   </a>
               }
           }
        </div>
    </div>
    
    @if(files.size > 0 || folders.size > 0) {
		<table class="table table-hover">
	        <tr>
	           <th>
	               Filename
	           </th>
	           <th width="50px" style="text-align: right;">
	               Parts
	           </th>
	        </tr>
	        @for(folder <- folders) {
		        <td colspan="2">
	                <a href="#" onClick="navigateFolder('@index.mkString("/")@folder')">
	                    <span aria-hidden="true" class="glyphicon glyphicon-folder-open"></span>
	                    &nbsp;
	                    @folder
	                </a>
		        </td>
		    }
	        @for(file <- files) {
	            <tr>
	                <td>
		                <a href="@controllers.dfs.routes.Browser.serveFile(file._1)">
		                   <span aria-hidden="true" class="glyphicon glyphicon-download-alt"> </span>
		                </a>
		                &nbsp;
		                @file._1.split("[/\\\\]").takeRight(1)
	                </td>
	                <td style="text-align: right;">
	                     @file._2.size
	                </td>
	            </tr>
	        }
	    </table>
    }
    
    <script type="text/javascript">
        function navigateFolder(folder) {
            $.ajax({
                method : "POST",
                url : "@controllers.dfs.routes.Browser.getFiles",
                data : {
                    filename : folder,
                    isFolder: true
                }
            }).done(function(html) {
                updateFileList(html);
            });
        }
    </script>
}