@(localFiles: List[String], remoteFiles: List[String], readFiles: List[String])

@if(localFiles.size == 0 && remoteFiles.size == 0) {
    <h2>Currently, no DFS files are opened.</h2>
} else {    
	<table class="table">
	    <tr>
	       <th>
	           Files opened for writing locally
	       </th>
	       <th>
               Files opened for writing remotely
           </th>
           <th>
               Files opened for reading (locally)
           </th>
	    </tr>
	    <tr>
	        <td width="33%">
	            <table class="table">
				    @for(file <- localFiles) {
				        <tr>
				            <td>
				                <span aria-hidden="true" class="glyphicon glyphicon-file"> </span>
				                @file.split("[/\\\\]").takeRight(1)
				            </td>
				        </tr>
				    }
				</table>
		    </td>
			<td width="33%">
			    <table class="table">
                    @for(file <- remoteFiles) {
                        <tr>
                            <td>
                                <span aria-hidden="true" class="glyphicon glyphicon-file"> </span>
                                @file.split("[/\\\\]").takeRight(1)
                            </td>
                        </tr>
                    }
                </table>
			</td>
			<td width="33%">
                <table class="table">
                    @for(file <- readFiles) {
                        <tr>
                            <td>
                                <span aria-hidden="true" class="glyphicon glyphicon-file"> </span>
                                @file.split("[/\\\\]").takeRight(1)
                            </td>
                        </tr>
                    }
                </table>
            </td>
	    </tr>
	</table>
}