body {
	padding-top: 50px;
	height: 100%;
	font-size: 14px;
}

.data-modal {
	width: 90%;

	/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
	-ms-word-break: break-all;
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

a:hover, a:focus, img, img:hover, img:focus {
	border: 0;
}

@media (max-width: 993px) {
	.pull-right {
		display: none;
	}
}

@media (max-width: 768px) {
	#sidebar-wrapper {
		display: none;
	}
}

.navbar {
	color: #333;
	background: #eee;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar a {
	color: #999;
}

.navbar-brand {
	padding-top: 8px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar-brand-2 {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: #333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ddd;
	background: #777;
	box-shadow: 0 -2px 4px rgba(33, 33, 33, 0.6);
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	color: #ddd;
	background: #777;
	box-shadow: 0 -2px 4px rgba(33, 33, 33, 0.6);
}

.active {
	font-weight: bold;
	text-decoration: underline;
}

.sidebar-brand {
	margin-top: 30px;
	margin-left: 45px;
	margin-bottom: 20px;
}

.w3-bar-item.w3-button {
	text-decoration: none;
}

.w3-sidebar {
	background: #eee;
}

#page-content-wrapper {
	margin-left: 10px;
	margin-top: 10px;
}