@(messages: Map[String, List[String]])

@index("Scheduler", messages) {
    @schedulerMenu()
} {
	<form method="post" action="@routes.Scheduler.scheduleCronStart">
	    <div class="row">
	        <div class="col-xs-12">
	            <div class="form-group">
	                <label for="name">Name</label>
	                <input type="text" class="form-control" id="name" name="name">	              
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12">
	            <div class="form-group">
	                <label for="cronSchedule">Cron schedule</label>
	                <input type="text" class="form-control" id="cronSchedule" name="cronSchedule" placeholder="See http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger">
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12">
	           <div class="form-group">
                    <label>Select jobs</label>
		        	<div class="container" style="border: 1px solid black; height: 400px; overflow-x: hidden; overflow-y: scroll;">
                        <div id="jobDiv"></div>
		            </div>
		        </div>
	        </div>
	    </div>
	    <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" onClick="batchStarter()">Start cron scheduler!</button>
                </div>
            </div>
        </div>
	</form>
	
	<div id="formDiv"></div>
       
    <script type="text/javascript">
        $.ajax({
            method : "POST",
            url : "@routes.Scheduler.showConfigs",
            data : {
                path : ""
            }
        }).done(function(html) {
            updateFormDiv(html);
        });
        
        function updateFormDiv(html) {
            $('#jobDiv').html(html); 
        }
    </script>
}