@(jobs: List[(String, String, String)], messages: Map[String, List[String]])

@index("Scheduler", messages) {
    @schedulerMenu()
} {
    @if(jobs.isEmpty) {
        <h2>No scheduled jobs found!</h2>
    } else {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Job name
                    </th>
                    <th>
                        Flow
                    </th>
                    <th>
                        Schedule
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @for((name, config, schedule) <- jobs) {
                    <tr>
                        <th style="margin-right: 25px;">
                            @name
                        </th>
                        <th>
                            @config
                        </th>
                        <th>
                            @schedule
                        </th>
                        <td>
                            <a href="@routes.Scheduler.terminate(name)">
                                Stop
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}