@(jobs: List[String], messages: Map[String, List[String]])

@index("Scheduler", messages) {
    @schedulerMenu()
} {
	@if(jobs.size == 0) {
		No scheduled jobs found!
	} else {
		<table class="table table-striped">
	        <thead>
		        <tr>
		            <th>
		                Job name
		            </th>
		            <th>
		                Actions
		            </th>		            
		        </tr>
	        </thead>
	        <tbody>
				@for(job <- jobs) {
				    <tr>
				        <th style="margin-right: 25px;">
				            @job
				        </th>
				        <td>
				            <a href="@routes.Scheduler.terminate(job)">
                                Stop
                            </a>				            
				        </td>				        
				    </tr>
			    }
			</tbody>
	    </table>

	}
}