@(path: Array[String], configs: Array[String], folders: Array[String])
    <div class="row" style="margin-bottom: 20px;">
       <div class="col-xs-11">
           <a href="#" onClick="navigateFolder('')">[root]</a>
           @if(path.nonEmpty) {
               @for((elem, index) <- path.zipWithIndex) { / <a href="#" onClick="navigateFolder('@path.take(index).mkString("/")/@elem')">@elem</a>}
           }
        </div>
    </div>

    @for(folder <- folders) {
        <div class="row">
            <div class="col-xs-12">
                <a href="#" onClick="navigateFolder('@path.mkString("/")/@folder')">
                    <span aria-hidden="true" class="glyphicon glyphicon-folder-open"></span>
                    &nbsp;
                    @folder
                </a>
            </div>
        </div>
    }

    @if(!folders.isEmpty) { <hr> }

    @if(!configs.isEmpty) {
        <table class="table table-hover" id="configTable">
            @for((config, index) <- configs.zipWithIndex) {
                <tr>
                   <td width="20px">
                       <input type="checkbox" value="@path.mkString("/")/@config" name="jobs[@index]" value="@path.mkString("/")/@config">
                   </td>
                    <td>
                        <span aria-hidden="true" class="glyphicon glyphicon-file"> </span>
                        &nbsp;
                        @config
                    </td>
                </tr>
            }
        </table>
    }

    <script type="text/javascript">
        function navigateFolder(folder) {
            $.ajax({
                method : "POST",
                url : "@routes.Scheduler.showConfigs",
                data : {
                    path : folder
                }
            }).done(function(html) {
                updateFormDiv(html);
            });
        }
    </script>