@(messages: Map[String, List[String]])

@index("Cluster Info", messages) {
    @clusterMenu()
} {
    <h2>
        Add Node
    </h2>
    
    <p>
        Enter the node's (Akka) address and port number below.
    </p>
    
    <form method="post" action="@routes.Cluster.addNodePost">
        <div class="form-group">
            <label for="host">
                Host
            </label>
            <input type="text" required="required" class="form-control" id="host" name="host" placeholder="192.168.1.12">
	  </div>
	  <div class="form-group">
	      <label for="akkaPort">
	          Port
          </label>
	      <input type="number" step="1" required="required" class="form-control" id="akkaPort" name="akkaPort" placeholder="2552">
	  </div>
	  <div class="form-group">
	      <label for="UIPort">
	          UI Port
          </label>
	      <input type="number" step="1" required="required" class="form-control" id="UIPort" name="UIPort" placeholder="9000">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
}