@import tuktu.api.ClusterNode
@(messages: Map[String, List[String]], configRepo: String, homeAddress: String, logLevel: String, timeout: Int, clusterNodes: scala.collection.mutable.Map[String, ClusterNode], otherParams: Map[String, String])

@index("Cluster Info", messages) {
    @clusterMenu()
} {
    <h2>
        <u>Cluster Overview</u>
    </h2>
    
    <form method="post" action="@routes.Cluster.updateCluster">
        <h3>
            General Settings
        </h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="meta">Modeller Meta Folder</label>
                    <input type="text" class="form-control" id="meta" name="meta" value="@{otherParams.get("meta").getOrElse("")}">
                </div>
            </div>
        </div>
	    <div class="row">
	        <div class="col-xs-12">
	            <div class="form-group">
	                <label for="configRepo">Configuration Repository</label>
	                <input type="text" class="form-control" id="configRepo" name="configRepo" value="@configRepo">
	            </div>
	        </div>
	    </div>
	    <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="timeout">Timeout</label>
                    <input type="text" class="form-control" id="timeout" name="timeout" value="@timeout">
                </div>
            </div>
        </div>
        <h3>
            Web Analytics Settings
        </h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="webUrl">Tuktu URL</label>
                    <input type="text" class="form-control" id="webUrl" name="webUrl" value="@{otherParams.get("webUrl").getOrElse("")}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="webRepo">Web Analytics Repository</label>
                    <input type="text" class="form-control" id="webRepo" name="webRepo" value="@{otherParams.get("webRepo").getOrElse("")}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="jsurl">Tuktu JS File Name</label>
                    <input type="text" class="form-control" id="jsurl" name="jsurl" value="@{otherParams.get("jsurl").getOrElse("")}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="jsname">JS DataPacket Field Name</label>
                    <input type="text" class="form-control" id="jsname" name="jsname" value="@{otherParams.get("jsname").getOrElse("")}">
                </div>
            </div>
        </div>
        <h3>
            Monitoring Settings
        </h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="logLevel">Logging Level</label>
                    <input type="text" class="form-control" id="logLevel" name="logLevel" value="@logLevel">
                </div>
            </div>
        </div>
        <h3>
            TDFS Settings
        </h3>
        <h3>
            TuktuDB Settings
        </h3>
        <h3>
            API Settings
        </h3>
        <h3 style="padding-top: 50px;">
            Cluster Settings
        </h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="homeAddress">Current Node Address</label>
                    <input type="text" class="form-control" id="homeAddress" name=homeAddress value="@homeAddress">
                </div>
            </div>
        </div>
	    <div class="row">
	        <div class="col-xs-12">
	            <div class="form-group">
	                <label for="clusterNodes">Nodes in Cluster</label>
	                <table id="clusterNodes" class="table">
	                   <thead>
	                       <tr>
	                           <th>
	                               Node
	                           </th>
	                           <th>
	                               Port
	                           </th>
	                           <th width="50px"></th>
	                       </tr>
	                   </thead>
	                   <tbody>
		                    @for((host, node) <- clusterNodes) {
		                        <tr>
		                           <td>
		                              @if(host != homeAddress) {
		                                  <a href="http://@host:@node.UIPort">@host</a>
		                              } else {
		                                  @host
		                              }
		                           </td>
		                           <td>@node.akkaPort</td>
		                           <td>
		                              @if(host != homeAddress) {
			                              <a href="@routes.Cluster.removeNode(host)">
			                                  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			                              </a>
			                          }
		                           </td>
		                        </tr>
		                    }
		                </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	    <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Update cluster!</button>
                </div>
            </div>
        </div>
	</form>
}