@(apps: List[(String, tuktu.api.AppMonitorObject)], finished: List[(String, (Long, Long))], messages: Map[String, List[String]])

@index("Monitoring", messages) {
    @monitorMenu()
} {
	@if(apps.size > 0) {
	    <h2>
	       The following jobs are currently running on Tuktu
	    </h2>
	    
	    <table class="table table-striped">
	        <thead>
		        <tr>
		            <th>
		                Job name
		            </th>
		            <th>
		                Actions
		            </th>
		            <th style="text-align: right;">
		                Running since
		            </th>
		        </tr>
	        </thead>
	        <tbody>
				@for((appName, appProps) <- apps) {
				    <tr>
				        <th style="margin-right: 25px;">
				            @appName
				        </th>
				        <td>
				            <a href="@routes.Monitor.terminate(appName, false)">
                                Stop
                            </a>
				            <a href="@routes.Monitor.terminate(appName, true)">
                                Terminate
                            </a>
				        </td>
				        <td style="text-align: right;">
				            @{new java.util.Date(appProps.getStartTime * 1000).toString}
				            (@{(System.currentTimeMillis / 1000L) - appProps.getStartTime} seconds)
				        </td>
				    </tr>
			    }
			</tbody>
	    </table>
	} else {
	    <h2>Currently, no jobs are running on Tuktu</h2>
	}
	
	<hr>
	
	@if(finished.size > 0) {
        <h2>
           The following jobs are finished
        </h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Job name
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        End Time
                    </th>
                    <th style="text-align: right;">
                        Duration
                    </th>
                </tr>
            </thead>
            <tbody>
                @for((appName, appProps) <- finished) {
                    <tr>
                        <th style="margin-right: 25px;">
                            @appName
                        </th>
                        <td>
                            @{new java.util.Date(appProps._1 * 1000).toString}
                        </td>
                        <td>
                            @{new java.util.Date(appProps._2 * 1000).toString}
                        </td>
                        <td style="text-align: right;">
                            @{(appProps._2 - appProps._1)} seconds
                        </td>
                    </tr>
                }
            </tbody>
        </table>
	} else {
	   <h2>No finished jobs were found.</h2>
	}
	
	<script type="text/javascript">
	   window.setTimeout("location = '@routes.Monitor.fetchLocalInfo'", 30000);
	   @if(messages.size > 0) {
	       window.setTimeout("location = '@routes.Monitor.fetchLocalInfo'", 3000);
	   }
	</script>
}