@(appProps: tuktu.api.AppMonitorObject)
@import tuktu.api.{ DataPacket, BeginType, EndType }
@import play.api.libs.json.Json
@import tuktu.api.utils.anyMapToJson

@if(appProps.flowDataPacketCount.nonEmpty) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Branch</th>
                <th>Sent</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @for(branch <- appProps.flowDataPacketCount.keys.toSeq.distinct.sorted) {
                <tr>
                    <td>@branch</td>
                    <td>@appProps.flowDataPacketCount(branch)(BeginType)</td>
                    <td>@appProps.flowDataPacketCount(branch)(EndType)</td>
                </tr>
            }
        </tbody>
    </table>
} else {
    No data flow has been monitored yet.
}
@if(appProps.processorDataPacketCount.nonEmpty) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Processor ID</th>
                <th title="Received">Rec.</th>
                <th title="Completed">Com.</th>
                <th>Last DataPacket Received</th>
                <th>Last DataPacket Completed</th>
            </tr>
        </thead>
        <tbody>
            @for(id <- appProps.processorDataPacketCount.keys.toSeq.sorted) {
                <tr>
                    <td>@id</td>
                    <td>@appProps.processorDataPacketCount(id).getOrElse(BeginType, 0)</td>
                    <td>@appProps.processorDataPacketCount(id).getOrElse(EndType, 0)</td>
                    <td style="white-space: pre-wrap;">@Json.prettyPrint(Json.toJson(appProps.processorDataPackets.get(id).map(map => map.getOrElse(BeginType, new DataPacket(Nil)).data.map(datum => anyMapToJson(datum))).getOrElse(Nil)))</td>
                    <td style="white-space: pre-wrap;">@Json.prettyPrint(Json.toJson(appProps.processorDataPackets.get(id).map(map => map.getOrElse(EndType, new DataPacket(Nil)).data.map(datum => anyMapToJson(datum))).getOrElse(Nil)))</td>
                </tr>
            }
        </tbody>
    </table>
}