@import tuktu.api.MPType
@import tuktu.api.BeginType
@import tuktu.api.EndType
@(mapping: scala.collection.Map[String, scala.collection.Map[MPType, scala.collection.Map[String, Int]]], messages: Map[String, List[String]])

@index(messages) {
    <li>
    </li>
} {
	@if(!mapping.isEmpty) {
	    <table>
	        @for((name, typeMap) <- mapping) {
	            <tr>
	                <th>
	                    @name
	                </th>
	            </tr>
	            <tr>
	                <td>
	                    <table>
	                        @for((monType, branchMap) <- typeMap) {
	                            <tr>
	                               <th>
	                                   @monType
	                               </th>
	                               <td>
	                                   <table>
	                                       @for((branch, amount) <- branchMap) {
	                                           <tr>
	                                               <td>
	                                                   Branch - @branch
	                                               </td>
	                                               <td>
	                                                   @amount
	                                               </td>
	                                           </tr>
	                                       }
	                                   </table>
	                               </td>
	                            </tr>
	                        }
	                    </table>
	                </td>
	                <tr><td style="height: 10px;"></td></tr>
	            </tr>
	        }
	    </table>
	} else {
	    Nothing is currently running
	}
}