@(appProps: tuktu.api.AppMonitorObject, flow_name: String)
@import tuktu.api.{ BeginType, EndType }

@if(appProps.flowDataPacketCount.nonEmpty) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Branch</th>
                <th title="DataPackets (Datums)">Sent</th>
                <th title="DataPackets (Datums)">Completed</th>
            </tr>
        </thead>
        <tbody>
            @for(branch <- appProps.flowDataPacketCount.keys.toSeq.distinct.sorted) {
                <tr>
                    <td>@branch</td>
                    <td title="@appProps.flowDataPacketCount(branch).getOrElse(BeginType, 0) DataPackets containing a total of  @appProps.flowDatumCount(branch).getOrElse(BeginType, 0) Datums">
                        @appProps.flowDataPacketCount(branch).getOrElse(BeginType, 0) (@appProps.flowDatumCount(branch).getOrElse(BeginType, 0))
                    </td>
                    <td title="@appProps.flowDataPacketCount(branch).getOrElse(EndType, 0) DataPackets containing a total of  @appProps.flowDatumCount(branch).getOrElse(EndType, 0) Datums">
                        @appProps.flowDataPacketCount(branch).getOrElse(EndType, 0) (@appProps.flowDatumCount(branch).getOrElse(EndType, 0))
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    No data flow has been monitored yet.
}
@if(appProps.processorDataPacketCount.nonEmpty) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="30%">Processor ID</th>
                <th width="35%">Received</th>
                <th width="35%">Completed</th>
            </tr>
        </thead>
        <tbody>
            @for((id, uuid) <- appProps.processorDataPacketCount.keys.toSeq.sorted.zip(appProps.processorDataPacketCount.map(x => java.util.UUID.randomUUID.toString))) {
                <tr>
                    <td>
                        <button data-flow="@flow_name" class="btn btn-primary btn-sm processor_monitor_collapse" type="button">@id</button>
                    </td>
                    <td title="@appProps.processorDataPacketCount(id).getOrElse(BeginType, 0) DataPackets containing a total of @appProps.processorDatumCount(id).getOrElse(BeginType, 0) Datums">
                        @appProps.processorDataPacketCount(id).getOrElse(BeginType, 0) (@appProps.processorDatumCount(id).getOrElse(BeginType, 0))
                    </td>
                    <td title="@appProps.processorDataPacketCount(id).getOrElse(EndType, 0) DataPackets containing a total of @appProps.processorDatumCount(id).getOrElse(EndType, 0) Datums">
                        @appProps.processorDataPacketCount(id).getOrElse(EndType, 0) (@appProps.processorDatumCount(id).getOrElse(EndType, 0))
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="collapse">
                            @if(appProps.processorDurations.getOrElse(id, Nil).nonEmpty) {
                                Min: @{appProps.processorDurations(id).min / 1000.0} s <br>
                                Max: @{appProps.processorDurations(id).max / 1000.0} s <br>
                                Avg: @{appProps.processorDurations(id).sum / 1000.0 / appProps.processorDurations(id).size} s <br>
                                Med: @{appProps.processorDurations(id).sorted.apply(appProps.processorDurations(id).size / 2) / 1000.0} s
                            }
                        </div>
                    </td>
                    <td>
                        <div class="collapse last_DP_received" style="white-space: pre-wrap;"></div>
                    </td>
                    <td>
                        <div class="collapse last_DP_processed" style="white-space: pre-wrap;"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}