@(appProps: tuktu.api.AppMonitorObject, flow_name: String)
@import tuktu.api.{ BeginType, EndType }

@if(appProps.flowDataPacketCount.nonEmpty) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">Branch</th>
                <th width="40%" title="DataPackets (Datums)">Sent</th>
                <th width="40%" title="DataPackets (Datums)">Completed</th>
            </tr>
        </thead>
        <tbody>
            @for(branch <- appProps.flowDataPacketCount.keys.toSeq.distinct.sorted) {
                <tr>
                    <td>@branch</td>
                    <td title="@appProps.flowDataPacketCount(branch).getOrElse(BeginType, 0) DataPackets containing a total of  @appProps.flowDatumCount(branch).getOrElse(BeginType, 0) Datums">
                        @appProps.flowDataPacketCount(branch).getOrElse(BeginType, 0) (@appProps.flowDatumCount(branch).getOrElse(BeginType, 0))
                    </td>
                    <td title="@appProps.flowDataPacketCount(branch).getOrElse(EndType, 0) DataPackets containing a total of  @appProps.flowDatumCount(branch).getOrElse(EndType, 0) Datums">
                        @appProps.flowDataPacketCount(branch).getOrElse(EndType, 0) (@appProps.flowDatumCount(branch).getOrElse(EndType, 0))
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    No data flow has been monitored yet.
}
@if(appProps.errors.nonEmpty) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Last Errors per Processor</th>
            </tr>
        </thead>
        <tbody>
            @for((proc, error) <- appProps.errors.toSeq.sorted) {
                <tr>
                    <td>
                        <div class="panel panel-danger">
                            <div class="panel-heading">@proc</div>
                            <div class="panel-body" style="white-space: pre-wrap;">@error</div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if(appProps.processorDataPacketCount.nonEmpty) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">Processor ID</th>
                <th width="40%">Received</th>
                <th width="40%">Completed</th>
            </tr>
        </thead>
        <tbody>
            @for((id, uuid) <- appProps.processorDataPacketCount.keys.toSeq.sorted.zip(appProps.processorDataPacketCount.map(x => java.util.UUID.randomUUID.toString))) {
                <tr@if(appProps.errors.contains(id)){ class="danger"}>
                    <td>
                        <button data-flow="@flow_name" class="btn btn-primary btn-sm processor_monitor_collapse" type="button">@id</button>
                    </td>
                    <td title="@appProps.processorDataPacketCount(id).getOrElse(BeginType, 0) DataPackets containing a total of @appProps.processorDatumCount(id).getOrElse(BeginType, 0) Datums">
                        @appProps.processorDataPacketCount(id).getOrElse(BeginType, 0) (@appProps.processorDatumCount(id).getOrElse(BeginType, 0))
                    </td>
                    <td title="@appProps.processorDataPacketCount(id).getOrElse(EndType, 0) DataPackets containing a total of @appProps.processorDatumCount(id).getOrElse(EndType, 0) Datums">
                        @appProps.processorDataPacketCount(id).getOrElse(EndType, 0) (@appProps.processorDatumCount(id).getOrElse(EndType, 0))
                    </td>
                </tr>
                <tr>
                    <td>
                        @if(appProps.processorDurations.getOrElse(id, Nil).nonEmpty) {
                            Min: @{math.round(appProps.processorDurations(id).min) / 1000.0} s <br>
                            Max: @{math.round(appProps.processorDurations(id).max) / 1000.0} s <br>
                            Avg: @{math.round(appProps.processorDurations(id).sum / appProps.processorDurations(id).size.toDouble) / 1000.0} s <br>
                            Med: @{math.round(appProps.processorDurations(id).sorted.apply(appProps.processorDurations(id).size / 2)) / 1000.0} s
                        }
                    </td>
                    <td>
                        <div class="collapse last_DP_received">
                            <div class="well" style="white-space: pre-wrap;"></div>
                        </div>
                    </td>
                    <td>
                        <div class="collapse last_DP_processed">
                            <div class="well" style="white-space: pre-wrap;"></div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}