@(runningPage: Int, finishedPage: Int, running: List[(String, tuktu.api.AppMonitorObject)], finished: List[(String, tuktu.api.AppMonitorObject)], subflows: Map[String, String], messages: Map[String, List[String]])(implicit requestHeader: RequestHeader)

@index("Monitoring", messages) {
    @monitorMenu()
} {
    <h2>
       The following jobs are currently running on Tuktu
    </h2>

    @if(running.size > 100) {
    <nav>
        <ul class="pagination">
            @if(runningPage == 1) {
                <li class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                </li>
            } else {
                <li>
                    <a href="@routes.Monitor.fetchLocalInfo(runningPage - 1, finishedPage)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for(i <- 1 to math.ceil(running.size / 100.toDouble).toInt) {
                <li @if(i == runningPage) {class="active"}><a href="@routes.Monitor.fetchLocalInfo(i, finishedPage)">@i</a></li>
            }
            @if(runningPage >= math.ceil(running.size / 100.toDouble).toInt) {
                <li class="disabled">
                    <span aria-hidden="true">&raquo;</span>
                </li>
            } else {
                <li>
                   <a href="@routes.Monitor.fetchLocalInfo(runningPage + 1, finishedPage)" aria-label="Next">
                       <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Job name
                </th>
                <th title="Running / Total">
                    Instances
                </th>
                <th>
                    Processed
                </th>
                <th>
                    Actions
                </th>
                <th class="text-right">
                    Running since
                </th>
            </tr>
        </thead>
            <tbody>
            @for((appName, appProps) <- running.drop((runningPage - 1) * 100).take(100)) {
                <tr>
                    <td style="margin-right: 25px;">
                        @appName
                        @if(subflows.contains(appName)) {
                            <i>(Subflow)</i>
                        }
                    </td>
                    <td>
                        @{appProps.instances - appProps.finished_instances} / @appProps.instances
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_@appName.split('_').last">
                            Show Log
                        </button>
                    </td>
                    <td>
                        <a href="@routes.Monitor.terminate(appName, false, runningPage, finishedPage)">Stop</a>
                        <a href="@routes.Monitor.terminate(appName, true, runningPage, finishedPage)">Terminate</a>
                    </td>
                    <td class="javascript-date-timestamp-duration text-right" title="@appProps.startTime">
                        @* Filled and updated with JavaScript below to use user's time zone *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if(running.isEmpty) {
        <h3>Currently, no jobs are running on Tuktu</h3>
    }

    <hr>

    <h2>
        The following jobs are finished
        @if(finished.nonEmpty) {
            <form class="pull-right" action="@routes.Monitor.clearFinished(runningPage, finishedPage)" method="POST">
                <input class="btn btn-primary" type="submit" value="Clear">
            </form>
        }
    </h2>

    @if(finished.size > 100) {
    <nav>
        <ul class="pagination">
            @if(finishedPage == 1) {
                <li class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                </li>
            } else {
                <li>
                    <a href="@routes.Monitor.fetchLocalInfo(runningPage, finishedPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for(i <- 1 to math.ceil(finished.size / 100.toDouble).toInt) {
                <li @if(i == finishedPage) {class="active"}><a href="@routes.Monitor.fetchLocalInfo(runningPage, i)">@i</a></li>
            }
            @if(finishedPage >= math.ceil(finished.size / 100.toDouble).toInt) {
                <li class="disabled">
                    <span aria-hidden="true">&raquo;</span>
                </li>
            } else {
                <li>
                   <a href="@routes.Monitor.fetchLocalInfo(runningPage, finishedPage + 1)" aria-label="Next">
                       <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Job name
                </th>
                <th title="Finished / Total">
                    Instances
                </th>
                <th>
                    Processed
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th class="text-right">
                    Duration
                </th>
            </tr>
        </thead>
            <tbody>
            @for((appName, appProps) <- finished.drop((finishedPage - 1) * 100).take(100)) {
                <tr>
                    <td style="margin-right: 25px;">
                        @appName
                        @if(subflows.contains(appName)) {
                            <i>(Subflow)</i>
                        }
                    </td>
                    <td>
                        @appProps.finished_instances / @appProps.instances
                    </td>
                    <td>
                        @if(appProps.flowDataPacketCount.nonEmpty || appProps.processorDataPacketCount.nonEmpty) {
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_@appName.split('_').last">
                                Show Log
                            </button>
                        }
                    </td>
                    <td class="javascript-date-timestamp" title="@appProps.startTime">
                        @* Filled with JavaScript below to use user's time zone *@
                    </td>
                    <td class="javascript-date-timestamp" title="@appProps.endTime">
                        @* Filled with JavaScript below to use user's time zone *@
                    </td>
                    <td class="text-right">
                        @if(appProps.endTime - appProps.startTime >= 60000) {
                            @{
                                var seconds = math.floor((appProps.endTime - appProps.startTime) / 1000D).toInt
                                val values = for (v <- List(86400, 3600, 60)) yield {
                                    val res = math.floor(seconds / v).toInt
                                    seconds -= res * v
                                    res
                                }
                                val actual_values = values.dropWhile(_ == 0)
                                actual_values match {
                                    case Nil => seconds + " s"
                                    case head :: tail => head.toString + ":" + tail.map("%02d".format(_) + ":").mkString + "%02d".format(seconds) + (tail.size match {
                                        case 0 => " minutes"
                                        case 1 => " hours"
                                        case 2 => " days"
                                        case _ => ""
                                    })
                                }
                            }
                        } else {
                            @if(appProps.endTime - appProps.startTime >= 1000) {
                                @{(appProps.endTime - appProps.startTime) / 1000D} s
                            } else {
                                @{appProps.endTime - appProps.startTime} ms
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if(finished.isEmpty) {
        <h3>No finished jobs were found.</h3>
    }

    @for((appName, appProps) <- running.drop((runningPage - 1) * 100).take(100) ++ finished.drop((finishedPage - 1) * 100).take(100)) {
        <div class="modal fade job_modal" id="modal_@appProps.uuid" tabindex="-1" role="dialog" aria-labelledby="modalLabel_@appProps.uuid">
            <div class="modal-dialog data-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalLabel_@appProps.uuid">Data</h4>
                    </div>
                    <div class="modal-body">
                        @showAppData(appProps, appName)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @helper.javascriptRouter("monitorJsRoutes")(routes.javascript.Monitor.getLastDataPacket)

    <script type="text/javascript">
        $('div.collapse.last_DP_received').on('show.bs.collapse', function () {
            if ($(this).find('.well').text() !== '') return;

            var button = $(this).closest('tr').prev('tr').find('button.processor_monitor_collapse').first();
            var flow_uuid = $(button).data('flow');
            var processor_id = $(button).text();

            $.ajax(monitorJsRoutes.controllers.Monitor.getLastDataPacket(flow_uuid, processor_id))
            .done(function(data) {
                $(button).closest('tr').next('tr').find('.last_DP_received > .well').text(data[0]);
                $(button).closest('tr').next('tr').find('.last_DP_processed > .well').text(data[1]);
            });
        })

        $('button.processor_monitor_collapse').bind('click', function(event) {
            $(this).closest('tr').next('tr').find('.collapse').collapse('toggle');
        });

        var monitorTimeOffset = @System.currentTimeMillis - Date.now();
        $('td.javascript-date-timestamp').each(function(i, elem) {
            elem.innerHTML = new Date(parseInt(elem.title, 10));
        });
        function refresh() {
            function durationToString(s) {
                var seconds = s;
                var days = Math.floor(seconds / 86400);
                seconds = seconds - days * 86400;
                var hours = Math.floor(seconds / 3600);
                seconds = seconds - hours * 3600;
                var minutes = Math.floor(seconds / 60);
                seconds = seconds - minutes * 60;

                var result = '';
                var unit = '';
                if (days > 0) {
                    result += days + ':';
                    unit = 'days';
                }
                if (hours > 0) {
                    if (unit === '') unit = 'hours';
                    if (result === '') result += hours + ':';
                    else if (hours < 10) result += '0' + hours + ':'
                    else result += hours + ':';
                }
                if (minutes > 0) {
                    if (unit === '') unit = 'minutes';
                    if (result === '') result += minutes + ':';
                    else if (minutes < 10) result += '0' + minutes + ':'
                    else result += minutes + ':';
                }
                if (unit === '') unit = 'seconds';
                if (result === '') return Math.max(0, seconds) + ' ' + unit
                else if (seconds < 10) return result + '0' + seconds + ' ' + unit
                else return result + seconds + ' ' + unit
            }
            $('td.javascript-date-timestamp-duration').each(function(i, elem) {
                var now = new Date;
                var then = new Date(parseInt(elem.title, 10));
                elem.innerHTML = then;
                var seconds = Math.floor((now - then + monitorTimeOffset) / 1000);
                elem.innerHTML += " (" + durationToString(seconds) + ")";
            });
            window.setTimeout(refresh, 1000);
        }
        refresh();

        @if(messages.nonEmpty) {
            var timeout = window.setTimeout("location = '@routes.Monitor.fetchLocalInfo(runningPage, finishedPage)'", 3000);
        } else {
            var timeout = window.setTimeout("location = '@routes.Monitor.fetchLocalInfo(runningPage, finishedPage)'", 30000);
        }

        $('div.job_modal').on('show.bs.modal', function () {
            timeout = window.clearTimeout(timeout);
        })

        $('div.job_modal').on('hide.bs.modal', function () {
            timeout = window.setTimeout("location = '@routes.Monitor.fetchLocalInfo(runningPage, finishedPage)'", 3000@if(messages.isEmpty){0});
        })
    </script>
}