@(messages: Map[String, List[String]])

@index("Monitoring", messages) {
    @monitorMenu()
} {
    <div id="formDiv"></div>
       
    <script type="text/javascript">
        function toggleInstances() {
            $('#instances').prop('disabled',
                function(i, v) {
                    return !v;
            });
        }

        $.ajax({
            method : "POST",
            url : "@routes.Monitor.showConfigs",
            data : {
                path : ""
            }
        }).done(function(html) {
            updateFormDiv(html);
        });
        
        function updateFormDiv(html) {
            $('#formDiv').html(html); 
        }
    </script>
}