@(json: play.api.libs.json.JsValue, depth: Int = 0, array: Boolean = false)

@if((json \ "type").as[String] == "string") {
	<div class="form-group">
		<label class="col-xs-3 control-label">@{(json \ "label").asOpt[String].getOrElse((json \ "name").asOpt[String].getOrElse("")).capitalize}</label>
		<div class="col-xs-6">
			<input name="@{(json \ "name").as[String]}" class="form-control" type="text" @if((json \ "required").as[Boolean]){required="required"} data-type="string" data-depth="@depth" data-default="@{(json \ "default").asOpt[String].getOrElse("")}">
		</div>
		@if(array) {
			<div class="col-xs-3">
				<button class="btn btn-danger" name="DeleteArrayElement" type="button">-</button>
			</div>
		}
	</div>
} else {

@if((json \ "type").as[String] == "json") {
	<div class="form-group">
		<label class="col-xs-3 control-label">@{(json \ "label").asOpt[String].getOrElse((json \ "name").asOpt[String].getOrElse("")).capitalize}</label>
		<div class="col-xs-6">
			<textarea rows="3" name="@{(json \ "name").as[String]}" class="form-control" @if((json \ "required").as[Boolean]){required="required"} data-type="json" data-depth="@depth" data-default="@{(json \ "default").asOpt[play.api.libs.json.JsValue].map(_.toString).getOrElse("{}")}"></textarea>
		</div>
		@if(array) {
			<div class="col-xs-3">
				<button class="btn btn-danger" name="DeleteArrayElement" type="button">-</button>
			</div>
		}
	</div>
} else {

@if((json \ "type").as[String] == "int") {
	<div class="form-group">
		<label class="col-xs-3 control-label">@{(json \ "label").asOpt[String].getOrElse((json \ "name").asOpt[String].getOrElse("")).capitalize}</label>
		<div class="col-xs-6">
			<input name="@{(json \ "name").as[String]}" class="form-control" type="number" step="1" @if((json \ "required").as[Boolean]){required="required"} data-type="int" data-depth="@depth" data-default="@{(json \ "default").asOpt[Int].map(_.toString).getOrElse("")}">
		</div>
		@if(array) {
			<div class="col-xs-3">
				<button class="btn btn-danger" name="DeleteArrayElement" type="button">-</button>
			</div>
		}
	</div>
} else {

@if((json \ "type").as[String] == "boolean") {
	<div class="form-group">
		<label class="col-xs-3 control-label">@{(json \ "label").asOpt[String].getOrElse((json \ "name").asOpt[String].getOrElse("")).capitalize}</label>
		<div class="col-xs-6">
			<input name="@{(json \ "name").as[String]}" class="form-control" type="checkbox" @if((json \ "required").as[Boolean]){required="required"} data-type="boolean" data-depth="@depth" data-default="@{(json \ "default").asOpt[Boolean].getOrElse(false)}">
		</div>
		@if(array) {
			<div class="col-xs-3">
				<button class="btn btn-danger" name="DeleteArrayElement" type="button">-</button>
			</div>
		}
	</div>
} else {

@if((json \ "type").as[String] == "object") {
	<div data-depth="@depth" data-type="object" data-key="@{(json \ "name").as[String]}" data-required="@{(json \ "required").asOpt[Boolean].getOrElse(true)}">
		@for(param <- (json \ "parameters").asOpt[play.api.libs.json.JsArray].getOrElse(new play.api.libs.json.JsArray()).value) {
			@form(param, depth + 1, array)
		}
	</div>
} else {

@if((json \ "type").as[String] == "array") {
	<div data-depth="@depth" data-type="array" data-key="@{(json \ "name").as[String]}" data-required="@{(json \ "required").asOpt[Boolean].getOrElse(true)}">
		@for(param <- (json \ "parameters").asOpt[play.api.libs.json.JsArray].getOrElse(new play.api.libs.json.JsArray()).value) {
			<div class="form-group">
				<label class="col-xs-3 control-label">@{(json \ "label").asOpt[String].getOrElse((json \ "name").asOpt[String].getOrElse("")).capitalize}</label>
				<div class="col-xs-@if(array) {3} else {6}">
					<p class="form-control-static">@{(param \ "label").asOpt[String].getOrElse((param \ "name").asOpt[String].getOrElse("")).capitalize}</p>
				</div>
				<div class="col-xs-3">
					<button class="btn btn-success" name="AddArrayElement" type="button">+</button>
				</div>
				@if(array) {
					<div class="col-xs-3">
						<button class="btn btn-danger" name="DeleteArrayElement" type="button">-</button>
					</div>
				}
			</div>
			<div class="hidden" data-arrayType="prototype">
				@form(param, depth + 1, true)
			</div>
		}
	</div>
} else {
	<div class="form-group has-error">
		<label class="col-xs-3 control-label">@{(json \ "label").asOpt[String].getOrElse((json \ "name").asOpt[String].getOrElse("")).capitalize}</label>
		<div class="col-xs-6">
			<p class="form-control-static">Type '@{(json \ "type").as[String]}' not supported.</p>
		</div>
		@if(array) {
			<div class="col-xs-3">
				<button class="btn btn-danger" name="DeleteArrayElement" type="button">-</button>
			</div>
		}
	</div>
}}}}}}
