@(json: play.api.libs.json.JsValue)

<div class="hidden" data-class="@{(json \ "class").as[String]}">
	<div class="form-group">
		<label>Result</label>
		<input name="result" class="form-control" type="text" @if((json \ "result_required").as[Boolean]) { required="required" }>
	</div>
	<div data-config="config">
	@for(param <- (json \ "parameters").as[play.api.libs.json.JsArray].value) {
		<div class="form-group">
			<label>@{(param \ "name").as[String]}</label>
			@if((param \ "type").as[String] == "string") {
			<input name="@{(param \ "name").as[String]}" class="form-control" type="text" @if((param \ "required").as[Boolean]) { required="required" }>
			}
			@if((param \ "type").as[String] == "int") {
			<input name="@{(param \ "name").as[String]}" class="form-control" type="number" step="1" @if((param \ "required").as[Boolean]) { required="required" }>
			}
			@if((param \ "type").as[String] == "boolean") {
			<input name="@{(param \ "name").as[String]}" class="form-control" type="checkbox" @if((param \ "required").as[Boolean]) { required="required" }>
			}
		</div>
	}
	</div>
</div>
